body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-container {
    width: 80%;
    margin-bottom: 20px;
}

.audio-player {
    width: 80%;
    text-align: center;
}